$default-color: #09A0EF;

#changeButton {
	background-color: #0066ff;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;	
	margin-right: 25px;
	margin-top: 10px;
}
#deleteButton {
	font-size: 16px;
	margin-top: 10px;	
}


line {
  height: 5px;
  width: auto;
  background-color: $default-color;
  display: block;
  margin: 30px 0 30px 0;
}
.container-register {
  width: 50%;
}
#myProfile{
	font-size: 16px;
		color: #ffffff;
}