$default-color: #09A0EF;
//Todo default color variabel

.container-register {
  width: 50%;
}

@media only screen and (max-width: 767px){
  .container-register{
    width: 80%;
  }
}
/*Ger lite luft i texten*/
.space {
  margin-bottom: 10px;
}
/*Lägg allt till vänster*/
.left {
  text-align: left;
  margin: 0 0 2px 5px;
}
/*Blå linje mellan formulären*/
line {
  height: 2px;
  width: auto;
  background-color: $default-color;
  display: block;
  margin: 30px 0 30px 0;
  clear: both;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/*Knapp skapa konto*/
#create {
  background-color: $default-color;
  font-size: 17px;
  color: white;
  border-radius: 30px;

}
#create:hover {
  background-color: lighten($default-color, 10);
}

/*Dropdown för salong och yrkestitel*/
#btndropdown {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  button {
    width: 100%;
  }
  ul {
    width: 100%;
  }
}
