$default-color: #09A0EF;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

h2 {
  display: inline-block;
  padding-bottom: 3px;
  padding-top: 3px;
}
h2:hover {
  cursor: pointer;
}
/*Om man valt att visa företag eller frisörer*/
.active-h1 {
  box-shadow: 0 3px 0 $default-color;
}

.not-active {
  color: grey;
}

.container-header {
  margin: 0 20% 0 20%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
/*Sökruta/filtrering*/
.searchbox {
  border: 1px solid $default-color;
  margin-top: 20px;
  padding-bottom: 20px;
  @include border-radius(10px);
  .label {
    font-size: 13px;
    display: inline-block;
  }
  .label:hover {
    cursor: pointer;
  }
  .tag {
    background-color: darken($default-color, 10);
  }
  .active-tag {
    background-color: lighten($default-color, 13);
  }
  line {
  margin-left: 10%;
  margin-right: 10%;

  }
}
/*Frisörernas loggor*/
.logo {
  width: 170px;
  margin-right: 30px;
}
/*Grå linje*/
line {
  height: 1px;
  background-color: lightgrey;
  display: block;
  margin: 20px 0 20px 0;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.form-control {
  width: 70%;
  display: inline-block;
}

#searchbtn {
  margin: 0 0 1px 4px;
}

.margin-10px {
  margin: 5px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
